body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    font-size: 32px;
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridContainer {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 1px solid darkslategray;
}

.gridRows {
    display: flex;
    flex: 1;
}

.gridColumns {
    flex: 1;
    opacity: 0.1;
}

#gridButton {
    margin: 20px 0;
}

.active {
    background-color: black;
}